body{
  background-color:#2D383A;
}
.container{
   padding-top: 100px;
   padding-bottom:100px;
   height:auto;
   width:360px;
     
}
.display{
  width:270px;
  margin:auto;
  border:5px solid gray;
  background-color:#BEBEBE;
}
button{
  height:50px;
  width:55px;
  font-size:22px;
  color:;
  box-shadow:0px 0px 5px;
  border-radius:10px ;
  margin:3px;
  background-color:#AB98B0;
  cursor:pointer;
}
button#eql{
  width:120px;
  background-color:green
}
button#ac,#ce{
  background-color:#C90016;
}
.calculator{
  margin:auto;
  padding:4px;
  background-color: #00CC99;
  border:3px solid cyan;
  border-radius:10px 10px 0px 0px ;
}
.keypad{
   border-radius:0px 0px 10px 10px;
   background-color:  #00CC99;
   margin:auto;
   border:3px  solid cyan;
  padding:5px;
}
h3{
  font-family:Agency FB ;
  font-size:37px;
  font-weight:bold;
  color:  #030097;
  
}